@media only screen and (min-width: 48rem) {
  .uwnews {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 10px;
  }

  .uwnews .uwnews__wrapper {
    flex: 1 1 0;
    margin: 0 3rem 0 0;
    min-width: 250px;
  }

  .layout--uw-1-col .uwnews .uwnews__wrapper {
    min-width: 350px;
    max-width: 350px;
  }
}

.uwnews a {
  color: black;
  text-decoration: none;
  text-underline: none;
}

.uwnews__content {
  background-color: #e0e0d8;
  padding: 0.5rem;
}

.uwnews a:hover .uwnews__content {
  background-color: #fdd54f;
  color: black;
}

.uwnews .uwnews__date {
  background-color: black;
  color: #fdd54f;
  display: inline-block;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 98%;
}

.uwnews a:hover .uwnews__date {
  background-color: #fdd54f;
  color: black;
}

.uwnews .uwnews__title {
  color: black;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.uwnews__time,
.uwnews__source {
  display: block;
  font-size: 0.6825rem;
}

.uwnews a:hover .uwnews__title {
  text-decoration: underline;
}

.uwnews-header {
  margin-bottom: 1rem;
}

.uwnews-header h2 {
  margin-bottom: 0;
}
