@media only screen and (min-width: 48rem) {
  .layout--uw-3-col {
    display: grid;
  }

  .layout--uw-3-col.even-split {
    grid-template-columns: 33% 34% 33%;
  }

  .layout--uw-3-col.larger-left {
    grid-template-columns: 50% 25% 25%;
  }

  .layout--uw-3-col.larger-middle {
    grid-template-columns: 25% 50% 25%;
  }

  .layout--uw-3-col.larger-right {
    grid-template-columns: 25% 25% 50%;
  }

  .layout--uw-3-col .layout__region--first {
    grid-column: 1 / 2;
  }

  .layout--uw-3-col .layout__region--second {
    grid-column: 2 / 3;
  }

  .layout--uw-3-col .layout__region--third {
    grid-column: 3 / 4;
  }
}

.path-dashboard .layout__region {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.path-dashboard .layout__region--wrapper {
  box-shadow: none;
  border: 1px solid #bfbfba;
  padding: 1rem;
}
