{%
  set classes = [
  'layout',
  'layout--uw-2-col',
  settings.column_class,
]
%}

<section{{ attributes.addClass(classes) }}>

  <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
    {{ content.first }}
  </div>

  <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
    {{ content.second }}
  </div>

</section>
