@media only screen and (min-width: 48rem) {
  .layout--uw-2-col {
    display: grid;
  }

  .layout--uw-2-col.larger-left {
    grid-template-columns: 67% 33%;
  }

  .layout--uw-2-col.larger-right {
    grid-template-columns: 33% 67%;
  }

  .layout--uw-2-col.even-split {
    grid-template-columns: 50% 50%;
  }

  .layout--uw-2-col .layout__region--first {
    grid-column: 1 / 2;
  }

  .layout--uw-2-col .layout__region--second {
    grid-column: 2 / 3;
  }
}

.path-dashboard .layout__region {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.path-dashboard .layout__region--wrapper {
  box-shadow: none;
  border: 1px solid #bfbfba;
  padding: 1rem;
}
