@media only screen and (min-width: 48rem) {
  .layout--uw-inverted-l-right {
    display: grid;
  }

  .layout--uw-inverted-l-right.even-split {
    grid-template-columns: 25% 25% 50%;
  }

  .layout--uw-inverted-l-right.larger-left {
    grid-template-columns: 33.5% 16.5% 50%;
  }

  .layout--uw-inverted-l-right.larger-right {
    grid-template-columns: 16.5% 33.5% 50%;
  }

  .layout--uw-inverted-l-right .layout__region--first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .layout--uw-inverted-l-right .layout__region--first {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .layout--uw-inverted-l-right .layout__region--third {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .layout--uw-inverted-l-right .layout__region--fourth {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}

.path-dashboard .layout__region {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.path-dashboard .layout__region--wrapper {
  box-shadow: none;
  border: 1px solid #bfbfba;
  padding: 1rem;
}
