{{ attach_library('uw_dashboard/dashboard_news') }}

<div class="uwnews__title">
  <h2>UW Events</h2>
</div>

<div class="uwnews">
  {% for event in uwevents %}
    <div class="uwnews__wrapper">
      <a href="{{ event.url }}">
        <span class="uwnews__date">
          {{ event.start_date }}{% if event.end_date %} - {{ event.end_date }}{% endif %}
        </span>
        <span class="uwnews__title">
          {{ event.title | raw }}
        </span>
        {% if event.content %}
          <div class="uwnews__content">
            {{ event.content | raw }}
          </div>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>
