{{ attach_library('uw_dashboard/dashboard_news') }}

<div class="uwnews__title">
  <h2>UW Important Dates</h2>
</div>

<div class="uwnews uwimportantdates">
  {% for date in dates %}
    <div class="uwnews__wrapper">
      <span class="uwnews__date">
        {% for term_date in date.term_dates %}
            {{ term_date.start_date }}{% if term_date.end_date %} - {{ term_date.end_date }}{% endif %}
            <span class="uwnews__time">
              {{ term_date.term }}
            </span>
        {% endfor %}
      </span>
      {% if date.content %}
        <div class="uwnews__content">
          {{ date.content | raw }}
        </div>
      {% endif %}

    </div>
  {% endfor %}
</div>
