{{ attach_library('uw_dashboard/dashboard_news') }}

<div class="uwnews-header">
  <h2>Global News</h2>
  <div class="uwnews-filter">
    {{ global_news.filter.type }}: {{ global_news.filter.filter }}
  </div>
  <div class="uwnews-language">
    Language: {{ global_news.language }}
  </div>
</div>
<div class="uwnews">
  {% if global_news.news | length > 0 %}
    {% for article in global_news.news %}
      <div class="uwnews__wrapper">
        <a href="{{ article.url }}">
          <span class="uwnews__date">
            {{ article.date }}
            <span class="uwnews__time">
              {{ article.time }}
            </span>

            {% if global_news.filter.type != 'Source' %}
              <span class="uwnews__source">
                {{ article.source.name }}
              </span>
            {% endif %}
          </span>
          {% if article.urlToImage %}
            <span class="uwnews__image">
              <img src="{{ article.urlToImage }}" />
            </span>
          {% endif %}
          <span class="uwnews__title">
            {{ article.title }}
          </span>
          {% if article.description %}
            <div class="uwnews__content">
              {{ article.description | raw }}
            </div>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div class="uwnews__wrapper">
      There are currently no stories matching your filters.
    </div>
  {% endif %}
</div>
