{{ attach_library('uw_dashboard/dashboard_news') }}

<div class="uwnews__title">
  <h2>UW News - {{ uwnews.filter | raw }}</h2>
</div>

<div class="uwnews">
  {% for news in uwnews.news %}
    <div class="uwnews__wrapper">
      <a href="{{ news.itemUri }}">
        <span class="uwnews__date">
          {{ news.postedDate }}
        </span>
        <span class="uwnews__title">
          {{ news.title | raw }}
        </span>
        <div class="uwnews__content">
          {{ news.content | raw }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
