{{ attach_library('uw_dashboard/dashboard_news') }}

<div class="uwnews-header">
  <h2>UW Stories</h2>
  {% if stories.filter_list %}
    {{ stories.filter_list }}
  {% endif %}
</div>
<div class="uwnews">
  {% if stories.stories | length > 0 %}
    {% for story in stories.stories %}
      <div class="uwnews__wrapper">
        <a href="{{ story.link }}">
          <span class="uwnews__date">
            {{ story.date }}
          </span>
          <span class="uwnews__image">
            <img src="{{ story.image.image_styles.small }}" />
          </span>
          <span class="uwnews__title">
            {{ story.label }}
          </span>
          <div class="uwnews__content">
            {{ story.subhead | raw }}
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div class="uwnews__wrapper">
      There are currently no stories matching your filters.
    </div>
  {% endif %}
</div>
