.layout--uw-1-col {
  display: grid;
  grid-template-columns: 100%;
}

.layout--uw-1-col .layout__region--first {
  grid-column: 1 / 2;
}

.path-dashboard .layout__region {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.path-dashboard .layout__region--wrapper {
  box-shadow: none;
  border: 1px solid #bfbfba;
  padding: 1rem;
}
